{% extends "base.html" %}
{% block title %}
Login page
{% endblock %}


{% block body %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h2>Welcome back, buddy!</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="d-inline-flex flex-column">
            <div class="pb-2">{{form.username}}</div>
            <div class="pb-2">{{form.password}}</div>
            <button type="submit" class="btn btn-primary align-self-center">Login</button>
        </div>
    </form>
    {% if messages %}
    {% for msg in messages %}
        <a>{{msg}}</a>
    {% endfor %}
    {% endif %}
    <p>Don't have an account? <a href="../register">Register</a> now!</p>
</div>
{% endblock %}