<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="d-flex">
            <li class="nav-item px-2">
                <a class="navbar-link" href="/profile">Мой профиль</a>
            </li>
            <a class="navbar-link" href="/dm">Сообщения</a>
            <a class="navbar-link" href="/friends">Друзья</a>
            <a class="navbar-link" href="/search">Поиск</a>
        </div>
        <div class="text-end">
            <a class="navbar-brand">Hello, {{user}}</a>
            <a class="navbar-brand" href="/logout">Выйти</a>
        </div>
    </div>
</nav>