<nav class="navbar bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto justify-content-center mb-md-0">
              <li><a href="/profile" class="nav-link px-2 text-white">Мой профиль</a></li>
              <li><a href="/dm" class="nav-link px-2 text-white">Сообщения</a></li>
              <li><a href="/friends" class="nav-link px-2 text-white">Друзья</a></li>
              <li><a href="/search" class="nav-link px-2 text-white">Поиск</a></li>
            </ul>
        </div>
        <ul class="nav text-end">
            <li><a class="nav-link px-2 text-white">Hello, {{user}}</a></li>
            <li><a href="/logout" class="nav-link px-2 text-white" >Выйти</a></li>
        </ul>
    </div>
</nav>