{% extends "base.html" %}
{% load static %}
{% block title %}
{% if profile_user == user %}Ваш профиль{% else %}Профиль {{profile_user}}{% endif %}
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-2 bg-gray">
            <h2 class="mx-2">{{profile_user}}</h2>
            <img src="{{profile_user.avatar.url}}" class="rounded img-fluid mt-2" alt="{{profile_user}}">
            {% if not profile_user == user and user.is_authenticated %}
            <a href="/dm/{{profile_user.id}}" class="btn btn-secondary mt-2 w-100">Написать сообщение</a>
                {% if not user in offer_accepted_users %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit" name="action" value="add_friend" class="btn btn-secondary mt-2 w-100">Добавить в друзья</button>
                    </form>
                    {% if profile_user in offer_accepted_users %}
                        <p class="text-secondary text-center">Пользователь подписан на вас</p>
                    {% endif %}
                {% elif profile_user in offer_accepted_users %}
                    <p class="text-secondary text-center">Пользователь у вас в друзьях</p>
                {% else %}
                    <p class="text-secondary text-center">Заявка в друзья отправлена</p>
                {% endif %}
            {% endif %}
            {% if friends %}
                <div class="container">
                    <div class="row">
                        <a class="link-secondary col-8" href="/friends/{{profile_user.id}}">Друзей: {{friends_count}}</a>
                        {% for fr in friends %}
                            <div class="col-5">
                                <a href="/profile/{{fr.id}}" class="link-secondary"><img class="img-fluid m-2" src="{{fr.avatar.url}}"></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-10">
        {% if profile_user == user %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-12 mb-2">
                            <textarea class="form-control" type="text" name="message" placeholder="Че нового"></textarea>
                        </div>
                        <div class="col-10">
                            <input class="form-control" type="file" name="image" id="photo_input">
                            <img class="img-fluid" id="preview_image">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-secondary" type="submit" name="action" value="create_post">Отправить</button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
            {% if posts %}
            {% include "microblog.html" %}
        {% endif %}
        </div>
    </div>
{#<script src="{% static 'js/microblog.js' %}"></script>#}
{% endblock %}